h1 {
  font-family: monospace, 'arial';
  font-size: 100px;
  color: rgb(255, 255, 255);
}

span {
  color: aquamarine;
}

h2 {
  color: white;
}

p {
  color: white;
}

/* @media screen and (max-width: 540px) {
  h1 {
    font-size: 50px;
  }
} */